@use './colors';
@use './fonts';

.nav-container {
    background-color: colors.$yellow;
    padding: 8px;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 0.875rem;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: relative;
    &__left {
        ul {
            list-style: none;
            display: flex;
        }
        a {
            text-decoration: none;
            margin: 0px 20px;
            font-family: 'PlayfairDisplay-Regular';
            color: black;
        }
    }
    &__center {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        h1 {
            font-family: 'PlayfairDisplay-Bold';
            font-size: 1.8rem;
            letter-spacing: 0.075rem;
        }
        h3 {
            font-family: 'PlayfairDisplay-Regular';
            margin-top: -0.25rem;
            letter-spacing: 0.075rem;
        }
    }
}